body {
    background: #101010;
    color: white;
    font-family: Arial;
}

.box {
    background: #222;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

input, select {
    padding: 8px;
    margin: 5px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
}

button {
    padding: 8px 20px;
    background: #008cff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

